.titleContainer {
  display: flex;
  justify-content: center;
}

.titleContainer h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.modal-footer {
  justify-content: center;
}

.headPinkTieP {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.pinkTieP {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
