.modal {
  width: 50vh;
  height: 80vh;
}

.title {
    justify-content: 'center';
    align-items: center;
    align-self: center;
    text-align: center;
}

.pink {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC5D0), to(#FFF8F9));
  background: linear-gradient(180deg, #FFC5D0 0%, #FFF8F9 100%);
}

.advice {
  text-align: center;
}

/* .wrapper {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);

} */
/* 
.body {
  background-color: #FFC5D0;
}

.mail {
  width: 300px;
  height: 200px;
  background-color: #FFC5D0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.mail:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 150px solid #000 transparent;
  border-right: 150px solid pink;
  border-top: 100px solid #000 transparent;
  border-bottom: 100px solid #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

} */




  