.modal {
  border: none;
}

.title {
    justify-content: 'center';
    align-items: center;
    align-self: center;
    text-align: center;
}

.pink {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC5D0), to(#FFF8F9));
  background: linear-gradient(180deg, #FFC5D0 0%, #FFF8F9 100%);
  min-height: 30vh;
  min-width: 50vh;
}

.advice {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.stamp {
  position: absolute;
  top: 5%;
  left: 85%;
}

.text {
  position: relative;
  text-align: left;
  width: 90%;
  padding: 5%;
}


.footer {
  position: relative;
  bottom: 10%;
  left: 50%;
  padding: 5%;
}

.letters {
  
}




  